@charset "utf-8";

@font-face {
  font-family: "Inconsolata";
  src: url("../font/Inconsolata.woff2") format("woff"),
    url("../font/Inconsolata-Regular.ttf") format("truetype"),
    url("../font/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans.woff2") format("woff"),
    url("../font/FiraSans-Regular.ttf") format("truetype"),
    url("../font/FiraSans-Light.ttf") format("truetype");
}

.app {
  font-family: "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro", Roboto,
    "Droid Sans", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

.main {
  height: 100%;
  width: 100%;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fff;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  color: #fff;
  background-color: #1e88e5;
  font-size: 24px;
  display: flex;
  padding: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  will-change: transform;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
}

.header__title {
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  flex: 1;
}

.main__menu-button {
  width: 32px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.message {
  font-size: 14px;
  margin: 5px 0;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__icon {
  margin: 30px 0 0;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__message {
  color: #f00;
  font-size: 14px;
  margin: 5px 0;
}

.main__alert {
  margin: 10px 5px 0 5px;
  color: #f00;
  font-size: 14px;
}

/********** menu **********/
.menu__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

menu {
  background-color: #fff;
  border-left: 1px solid #000;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  z-index: 300;
  transition: all 300ms 0s ease;
}

.menu__close {
  transform: translate(-100%, 0);
}

.menu__open {
  transform: translate(0, 0);
}

.menu__background.submenu__open {
  z-index: 1000;
}

menu ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 16px;
  line-height: 1.8em;
  white-space: nowrap;
}

menu li:not(:nth-child(1)) {
  border-top: 1px solid #ccc;
}

menu a,
menu a:hover,
menu a:active,
menu a:visited {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px;
}

.submenu {
  --submenu-width: 90vw;
  position: fixed;
  width: var(--submenu-width);
  left: calc(50% - var(--submenu-width) / 2);
  background-color: #fff;
  max-height: 80vh;
  overflow: scroll;
  z-index: 1500;
  transition: transform 0.5s ease;
}

.submenu__window {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 10px;
}

.submenu__window h2 {
  border-bottom: 1px solid #333;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.submenu__window h3 {
  margin-bottom: 10px;
}

.submenu__window .text {
  font-size: 14px;
  line-height: 1.8rem;
}

.submenu__window p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.submenu__window .warning {
  color: #f00;
}

.submenu.submenu__close {
  transform: translate(0, -100vh);
}

.submenu.submenu__open {
  transform: translate(0, 5vh);
}

.submenu a,
.submenu a:link,
.submenu a:visited,
.submenu a:hover,
.submenu a:active {
  color: #1698cc;
  padding: 0 0.5rem;
  text-decoration: none;
}

.submenu__header {
  background-color: #e0e0e0;
  padding: 16px;
}

.submenu__close-button {
  width: 24px;
  height: 24px;
}

.header__menu-button,
.header__reload-button {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  text-indent: -30000px;
  overflow: hidden;
  opacity: 0.54;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  border: none;
  outline: none;
  cursor: pointer;
}

.header__menu-button {
  background: url(../image/menu.svg) 50% no-repeat;
}

.header__menu-button:hover {
  background: url(../image/menu-hover.svg) 50% no-repeat;
}

.header__reload-button {
  background: url(../image/redo-alt-solid.svg) 50% no-repeat;
}

.credit__license:not(:first-of-type) {
  border-top: 1px solid #000;
}

.credit__license {
  margin: 5px 0 5px;
  padding: 10px 0;
}

.credit__license-title {
  margin-bottom: 15px;
}

.credit__pre {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  line-height: 1.2rem;
  white-space: pre-wrap;
}

.submenu__external-link-image {
  margin-left: 5px;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
}

/********** select **********/

.main__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../image/arrow.png) 99% 50% no-repeat,
    linear-gradient(to bottom, #fff 0%, #efebe1 100%);
  background-size: 20px, 100%;
  border: 1px solid #999;
  flex: 1;
  padding: 10px;
  width: 100%;
}

.area {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  padding: 10px 20px;
}

.area__select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.main__external-link {
  text-align: right;
  width: 100%;
}

.main__external-link a,
.main__external-link a:hover,
.main__external-link a:active,
.main__external-link a:visited {
  color: #03c;
  font-size: 10pt;
  text-decoration: none;
}

.main__external-link a:not(:last-of-type) {
  margin-right: 0.5rem;
}

.main__label {
  font-size: 16px;
  margin-right: 8px;
  white-space: nowrap;
}

/********** garbage **********/

.garbage {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.garbage__item {
  border: 1px solid #444;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 5px;
  height: 100%;
}

.garbage__title {
  background-color: #1698cc;
  color: #fff;
  flex: 1;
  font-size: 14px;
  line-height: 1.2em;
  padding: 5px;
  position: relative;
}

.garbage__title:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #1698cc;
  z-index: 2;
}

.garbage__title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -16px;
  border: 16px solid transparent;
  border-left: 16px solid #1698cc;
  z-index: 1;
}

.garbage__title > div {
  margin-bottom: 8px;
}

.garbage__schedule {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  position: relative;
}

.garbage__how-many-days {
  flex: 1;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.garbage__next-date {
  bottom: 5px;
  color: #888;
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 5px;
}

.garbage__today {
  background-color: #ffff90;
}

.garbate__today .garbage__how-many-days {
  color: #f00;
}

.garbage__tomorrow .garbage__how-many-days {
  color: #f00;
}

.garbage__day-after-tomorrow .garbage__how-many-days {
  color: #00f;
}

/********** footer **********/
footer {
  font-family: "FiraSans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 5px;
}

.copyright {
  flex: 1;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 5px;
}

.sns li:not(:last-of-type) a {
  margin-right: 3px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: black;
  text-decoration: none;
}

.bottom-button-bar {
  position: fixed;
  left: 0;
  bottom: 44px; /* fallback for enviroment can't use calc & env function */
  bottom: calc(env(safe-area-inset-bottom) + 44px);
}

@media screen and (max-height: 580px) {
  .garbage-item:first-child:nth-last-child(4) .garbage-how-many-days,
  .garbage-item:first-child:nth-last-child(4)
    ~ .garbage-item
    .garbage-how-many-days {
    font-size: 28px;
  }

  .garbage-item:first-child:nth-last-child(4) .garbage-next-date,
  .garbage-item:first-child:nth-last-child(4)
    ~ .garbage-item
    .garbage-next-date {
    font-size: 10px;
  }

  .garbage-item:first-child:nth-last-child(5) .garbage-how-many-days,
  .garbage-item:first-child:nth-last-child(5)
    ~ .garbage-item
    .garbage-how-many-days {
    font-size: 24px;
  }

  .garbage-item:first-child:nth-last-child(5) .garbage-next-date,
  .garbage-item:first-child:nth-last-child(5)
    ~ .garbage-item
    .garbage-next-date {
    font-size: 10px;
  }
}
